@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300;600&display=swap');

.projectContainer
{
    display: flex;
    flex-direction: column;
    color: #001F3F;
    justify-content: center;
    padding-top:  100px;
    /* margin: 200px 0px 0px 0px; */
    align-items: center;
    background-color: #f2f2f2;
    height: 80vh;

}

.projectContainer > h1{
    padding-bottom: 15px;
}

.projectContainer > p{
    padding-bottom: 20px;
}
.projectContainer_projects
{
    display: flex;
    width: 60vw;
    margin-top: 50px;
    flex-wrap: wrap;
}